
$cols:(
    "xs":320px,
    "sm":768px,
    "md":992px,
    "lg":1200px);

@each $name,$size in $cols{
    @media only screen and (min-width:#{$size}){
        @for $col from 1 to 13 {
            .col-#{$name}-#{$col}{
                width: percentage($col/12);
            }
        }
    }
}