*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    

}
.row{
    display: flex;
}