* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

body {
    width: 100%;
    overflow-x: hidden;
}

nav {
    padding: 10px;
    background-color: #000;
    height: 50px;
    
}
.icon {
    width: 30px;
    height: 30px;

    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 5px;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
    z-index: 11;
}

.menu-icon span {
    display: block;
    border-bottom: 2px solid #fff;
    width: 100%;
}

nav ul {

    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    background-color: #000;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
nav li {
    margin: 10px;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.close-icon {
    display: block;
    z-index: 10;
}

.close-icon span {
    display: block;
    width: 100%;
    border-bottom: 2px solid #fff;
}

.close-icon span:first-child {
    transform: rotate(45deg) translate(10px, 10px);
}

.close-icon span:last-child {
    transform: rotate(-45deg) translate(-7px, 9px);
}

nav ul:target {
    right: 0;
}

nav ul:target+.close-icon {
    z-index: 11;
}
.card{
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    justify-content: center;
}
main .card img{
    padding: 20px;
}
main .card p{
    padding-top: 20px;
}




@media only screen and (min-width:480px) {
    nav ul {
        display: flex;
        justify-content: center;
        position: unset;
        right: unset;
        height: unset;
        flex-direction: row;
        justify-content: center;
        align-items: unset;
        
       
       
        
    }

    nav li {
        margin: 10px;
        list-style-type: none;
    }
    nav a {
        text-decoration: none;
        color: #fff;
    }
        
        
    .menu-icon {
        display: none;
        }
        
    .close-icon {
        display: none;
        }
    .card{
       
        flex-direction: row;
        
    }
    main .card p{
        padding-right: 10px;
    }
    }
    

